body {
  font-family: Arial;
  color: #1f1c0d;
  background-color: #FEE9FC;
}

#header {
  background-color: #FFC5E5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
}

header h1, h3 {
  display: inline-block;
}

.section {
  margin-top: 200px;
  margin-right: 100px;
  margin-left: 100px;
}

#aboutTitle {
  margin-left: 100px;
  font-size: 32px;
}

#about {
  font-size: 20px;
}