body {
  font-family: Arial;
  color: #1f1c0d;
  background-color: #FEE9FC;
}

#header {
  background-color: #FFC5E5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  width: 100%;
}

h1 {
  margin-left: 25px;
}

header h3:nth-child(1) {
  margin-left: 25px;
}

header h3:nth-child(2) {
  margin-left: 1275px;
  margin-right: 25px;
}

header h3:nth-child(3) {
  margin-right: 25px;
}

header h1, h3 {
  display: inline-block;
}

.section {
  margin-top: 250px;
  margin-right: 500px;
  margin-left: 600px;
}

#aboutTitle {
  margin-left: 250px;
  font-size: 32px;
}

#about {
  font-size: 20px;
}

#serviços {
  padding: 50px;
  margin-left: 750px;
  font-size: 32px;
}